.homerow {
  margin-top: 200px;
  width: 100%;
  text-align: center;
}
#homeillu{
  background: url(../images/seemann2.JPG) no-repeat center center;
  background-size: cover;
  width:300px;
  height:450px;
  display:inline-block;

}
#homesketch{
  background: url(../images/sketch3.JPG) no-repeat center center;
  background-size: cover;
  width:300px;
  height:450px;
  display:inline-block;

}
#homeabout{
  background: url(../images/sketch1.JPG) no-repeat center center;
  background-size: cover;
  width:300px;
  height:450px;
  display:inline-block;

}
.hochformat {
  display: inline-block;
}
.hochformat a {
  display: none;
}
.hochformat:hover a {
  display: block;
  position: absolute;
  height: 450px;
  width: 300px;
  background: rgba(255,255,255,0.6);
  padding-top: 225px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.mobile-hochformat{
  display:none;
  margin-top:10px;

}

.margin-img {
  margin-right: 5px;
}
