.reihe{
  width:700px;
  height:600px;
  float:left;
}
.reiheklein{
  width:700px;
  height:300px;
  float:left;
  margin-top:4px;
}
.quadrate{
  height:600px;
  width:298px;
  float:right;
}

.beschreibung{
  display:inline-block;
}
.beschreibung a{
  display:none;
}
.beschreibung:hover a {
  display: block;
  position: absolute;
  height: 300px;
  width: 150px;
  background: rgba(255,255,255,0.6);
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.beschreibung-hoch{
  display:inline-block;
}
.beschreibung-hoch a{
  display:none;
}
.beschreibung-hoch:hover a{
  display:block;
  position:absolute;
  height:150px;
  width:400px;
  background: rgba(255,255,255,0.6);
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}



.overlay {
  display: none;
}
.gallery_image:hover .overlay {
  display: inline-block;
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  color: rgba(255,255,255,0.8);
  text-align:center;
}
.overlay p {
  margin-top: 40%;
}

.overlay-hoch {
  display: none;
}
.gallery_image:hover .overlay-hoch {
  display: inline-block;
}
.overlay-hoch {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(0,0,0,0.4);
  color: rgba(255,255,255,0.8);
  text-align: center;
  font-size:15px;
}
.overlay-hoch p {
  margin-top: 40%;
}




.gallery{
  margin-top:20px;
  height:100%;
  width:700px;
  margin-left:15%;

}
.gallery_image--breit{
  width:704px;
  height:300px;
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  display:inline-block;
  float:left;
  margin:2px;

}
.gallery_image--quadrat{
  width:300px;
  height:300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display:inline-block;
  float:left;
  margin:2px;


}
.gallery_image--hoch{
  width:400px;
  height:604px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display:inline-block;
  float:left;
  margin:2px;

}
.gallery_image--4-3{
  width:400px;
  height:300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display:inline-block;
  float:left;
  margin:2px;
}


ul li{
  display:inline;
}
