.reihe{
  width:700px;
  height:600px;
  float:left;
}
.reiheklein{
  width:700px;
  height:300px;
  float:left;
  margin-top:4px;
}
.quadrate{
  height:600px;
  width:298px;
  float:right;
}

#bild1 {
  background: url(../images/5party2.JPG) no-repeat center center;
  background-size: cover;
  width:398px;
  height:600px;
  display:inline-block;

}
#bild2 {
  background: url(../images/seemann2.JPG) no-repeat center center;
  background-size: cover;
  width:298px;
  height:298px;
  float:left;
  margin-bottom:4px;

}
#bild3 {
  background: url(../images/9healthy1.JPG) no-repeat center center;
  background-size: cover;
  width: 700px;
  height:300px;
  margin-bottom: 4px;
}
#bild4 {
  background: url(../images/11holiday2.JPG) no-repeat center center;
  background-size: cover;
  width:398px;
  height:300px;
  float:left;
}
#bild5 {
  background: url(../images/araber.JPG) no-repeat center center;
  background-size: cover;
  width:298px;
  height:300px;
  float:left;
  margin-right:4px;

}
#bild6 {
  background: url(../images/7maedchen2.JPG) no-repeat center center;
  background-size: cover;
  width: 298px;
  height:298px;
  float:left;
}
#bild7 {
  background: url(../images/aquarell.JPG) no-repeat center center;
  background-size: cover;
  width: 300px;
  height:600px;
}

.gallery{
  margin-top:20px;
  height:100%;
  width:700px;
  margin-left:15%;
}
.gallery_image--breit{
  width:100%;
  height:300px;
  background-size: cover;
  display:inline-block;
  float:left;
  
}
.gallery_image--quadrat{
  width:300px;
  height:300px;
  background-size: cover;
  display:inline-block;
  float:left;

}
.gallery_image--hoch{
  width:400px;
  height:600px;
  background-size: cover;
  display:inline-block;
  float:left;

}
.gallery_image--4-3{
  width:400px;
  height:300px;
  background-size: cover;

  display:inline-block;
  float:left;
}

ul li{
  display:inline;
}
