

a:link,a:active,a:visited {  text-decoration: none;  color : #000000; }
a:hover { font-weight: bold;  text-decoration: none; color : #000000; }

.desktop-nav #menu a .aktuell{
  font-weight: bold;
}
.mobile-nav #menu a .aktuell{
  font-weight: bold;
}


.header{
  width:100%;
  position:fixed;
}
.logo{
  position:fixed;
  left:20px;
  top:2px;
  display:inline;
  padding:5px;
}
.logo-mobile{
  display:none;
}

.desktop-nav{
  position:fixed;
  top:2px;
  right:20px;
}
.mobile-nav{
  display:none;
}
nav ul li {
  display: inline;
  list-type-style: none;
  padding:5px;
}
