.sketchbild{
  width:350px;
  height:auto;
  float:left;
}

.reihe2{
  width:700px;
  height:350px;
  display: inline-block;
}
.reihe3{
  width:700px;
  height:256px;
  display: inline-block;
}

.gallery_image--mittelhoch{
  width:232px;
  height:350px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display:inline-block;
  float:left;
  margin:2px;
}
.gallery_image--sehrhoch{
  width:233px;
  height:600px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display:inline-block;
  float:left;
  margin:2px;
}
.gallery_image--mittelbreit{
  width:468px;
  height:350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display:inline-block;
  float:left;
  margin:2px;
}
.gallery_image--gross{
  width:466px;
  height:383px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display:inline-block;
  float:left;
  margin:2px;
}
