@import url(home.css);
@import url(navigation.css);
@import url(about.css);
@import url(illustration.css);
@import url(sketches.css);

body{
  font-family: "Helvetica";
  font-weight:lighter;
  margin:0;
  padding:0;
}

img{
  width:200px;
  height:auto;
}
h1{
  font-size: 14px;
  display:inline;
  float:right;
  font-weight:lighter;
  display:inline-block;
}
#menu{
  font-size:14px;
}

.column{
  margin-top:20px;
  height:100%;
  width:700px;
  margin-left:200px;
}
.margin-unten{
  padding-bottom: 2px;
}


@media screen and (max-width:768px){
  .gallery{
    width:100%;

  }
  .column{
    width:100%;
  }
}

@media screen and (max-width:480px){

  .desktop-nav{
    display:none;
  }
  .mobile-nav{
    display:block;
    text-align: center;
    position:fixed;
    width:100%;
    margin-top:0px;
  }
  .logo{
    display:none;
  }
  .logo-mobile{
    text-align:center;
    font-weight:bold;
    width:100%;
    position:fixed;
    top:0px;
  }
  nav ul li, .logo-mobile{
    display: inline-block;
    background-color: pink;
    width:100%;
    text-align:center;
    float:none;

  }
  nav ul li, h1{
    font-size: 150%;
  }

  #homeillu #homesketch #homeabout{
    width:100%;
    margin:5px;
  }

  .gallery_image--4,.gallery_image--hoch,.gallery_image--breit,
  .gallery_image--gross,.gallery_image--quadrat,.gallery_image--sehrhoch,
  .gallery_image--mittelhoch,.gallery_image--mittelbreit{
    width:100%;
    margin:5px;
    display:block;
    text-align:center;
  }
  .column{
    display:block;
    width:100%;
    margin:0px;
  }
  .gallery{
    display:block;
    width:100%;

  }

}
