@import url(home.css);
@import url(navigation.css);
@import url(about.css);
@import url(illustration.css);
@import url(sketches.css);

body{
  font-family: "Helvetica";
  font-weight:lighter;
  margin:0;
  padding:0;
}

img{
  width:200px;
  height:auto;
}
h1{
  font-size: 14px;
  display:inline;
  float:right;
  font-weight:lighter;
  display:inline-block;
}
#menu{
  font-size:14px;
}

.column{
  margin-top:20px;
  height:100%;
  width:700px;
  margin-left:200px;
}
.margin-unten{
  padding-bottom: 2px;
}
