@import url(home.css);
@import url(navigation.css);
@import url(about.css);
@import url(illustration.css);
@import url(sketches.css);

body{
  font-family: "Helvetica";
  font-weight:lighter;
  margin:0;
  padding:0;
}


h1{
  font-size: 14px;
  display:inline;
  float:right;
  font-weight:lighter;
  display:inline-block;
}
#menu{
  font-size:14px;
}

.column{
  margin-top:20px;
  height:100%;
  width:708px;
  margin-left:200px;
}
.margin-unten{
  padding-bottom: 2px;
}


@media screen and (max-width:768px){
  .gallery{
    width:100%;

  }
  .column{
    width:100%;
  }
}

@media only screen and (max-device-width:641px) and (orientation:portrait),
only screen and (max-width: 640px){


  .desktop-nav{
    display:none;
  }
  .mobile-nav{
    display:inline-block;
    text-align: center;
    margin-top:190px;
    width:100%;
    left:0;
    background-color:white;
    line-height: 90px;

  }
  .logo{
    display:none;
  }
  .logo-mobile{
    text-align:center;
    display:inline-block;
    font-weight:bold;
    width:100%
    top:0px;
    position:fixed;
    background-color:#669999;
    color:white;

  }

  .logo-mobile h1 {
    float: none;
  }

  nav ul li, .logo-mobile{
    display: inline-block;
    width:100%;
    text-align:center;
    float:none;
  }

  nav ul li {
    padding: 5px 0;
  }

  nav ul li, h1{
    font-size: 400%;
  }


  #menu {
    padding: 0;
    margin-top: 0;
  }

  #homeillu #homesketch #homeabout{
    width:100%;
    margin:5px;
  }

  .gallery_image--4-3,.gallery_image--hoch,.gallery_image--breit,
  .gallery_image--gross,.gallery_image--quadrat,.gallery_image--sehrhoch,
  .gallery_image--mittelhoch,.gallery_image--mittelbreit{
    width: calc(100% - 10px);
    margin:5px;
    display:block;
    text-align:center;
  }
  .column{
    display:block;
    width:100%;
    margin:0px;
  }
  .gallery{
    display:block;
    width:100%;
  }
  .overlay-hoch{
    display:none;
  }
  .overlay{
    display:none;
  }
  .mobile-overlay-hoch{
    display: inline-block;
    font-size: 200%;
    float: left;
  }
  .mobile-overlay{
    display:inline-block;
    font-size:200%;
    float:left;
  }

  .gallery_image:hover .overlay {
    display: none;
}

.gallery_image:hover .overlay-hoch {
  display: none;
}

.hochformat{
  display:none;
}
.hochformat a {
  display:none;
}
.hochformat:hover a {
  display:none;
}
.mobile-hochformat{
  display:block;
}
.mobile-hochformat a{
  display:block;
  position: inherit;
}
.homerow{
  margin-top:40px;
}
span{
  font-weight: bold;
}


.gallery_image--4-3{
  height:40%;
}
.gallery_image--hoch{
  height:60%;
}
.gallery_image--breit{
  height:40%;
}
.gallery_image--gross{
  height:80%;
}
.gallery_image--quadrat{
  height:50%;
}
.gallery_image--sehrhoch{}
.gallery_image--mittelhoch{
  height:100%;
}
.gallery_image--mittelbreit{
  height:70%;
}

}
